#dbj{
	width: 1000px;
	height: 689px;
	background: url(../img/dbj.jpg) no-repeat ;	
	padding: 43px 0px 73px 61px;
}
#box{
	width: 260px;
	height: 573px;
	background: url(../img/miaovbj.jpg) ;
}
#box1{
	width: 260px;
	height: 128px;
	border-bottom:1px solid #d2d2d2 ;
}
#box11{
	font: 14px/36px "微软雅黑";
	padding: 11px 0px 0px 48px;
	background: url(gjljt.jpg) 232px 22px no-repeat;
}
#box12{
	font: 14px/36px "微软雅黑";
	padding: 0px 0px 0px 48px;
	background: url(ztldh.jpg) 20px 12px no-repeat;
}
#box13{
	font: 14px/36px "微软雅黑";
	padding: 0px 0px 0px 48px;
	background: url(llqdh.jpg) 232px 11px no-repeat;
}
#box2{
	width: 260px;
	height: 200px;
	border-bottom:1px solid #d2d2d2 ;
	
}
#box21{
	font: 14px/36px "微软雅黑";
	padding: 10px 0px 0px 48px;
	background: url(../img/quanquan.jpg) 20px 21px no-repeat;
}
#box22{
	font: 14px/36px "微软雅黑";
	padding: 0px 0px 0px 48px;
}
#box23{
	font: 14px/36px "微软雅黑";
	padding: 0px 0px 0px 48px;
}
#box24{
	font: 14px/36px "微软雅黑";
	padding: 0px 0px 0px 48px;
	background-color: #f6f6f6;
}
#box25{
	font: 14px/36px "微软雅黑";
	padding: 0px 0px 0px 48px;
	
}
#box3{
	width: 260px;
	height: 56px;
	border-bottom:1px solid #d2d2d2 ;
}
#box31{
	font: 14px/36px "微软雅黑";
	padding: 10px 0px 10px 48px;
	background: url(../img/gjljt.jpg) 232px 22px no-repeat;
}
#box4{
	width: 260px;
	height: 92px;
	border-bottom:1px solid #d2d2d2 ;
}
#box41{
	font: 14px/36px "微软雅黑";
	padding: 10px 0px 0px 48px;
}
#box42{
	font: 14px/36px "微软雅黑";
	padding: 0px 0px 0px 48px;
}
#box5{
	width: 260px;
	height: 93px;
}
#box51{
	font: 14px/36px "微软雅黑";
	padding: 10px 0px 0px 48px;
	background: url(../img/zddh.jpg) 232px 22px no-repeat;
}
#box52{
	font: 14px/36px "微软雅黑";
	padding: 0px 0px 0px 48px;
}