#box{
	width: 436px;
	height: 466px;
	border: 2px solid #e15671;
	font:16px/40px "微软雅黑";
	word-spacing: 9px;
}
#zbox{
	width: 373px;
	height: 390px;
	padding: 38px 31px 38px 32px;
	white-space: nowrap;
}
#zxsj{
	width: 352px ;
	height: 40px;
	background-image: url(../img/bj.jpg);
	padding: 0px 0px 0px 21px;
	margin-bottom: 10px;
}
#jzjc{
	width: 352px ;
	height: 40px;
	background-image: url(../img/bj.jpg);
	padding: 0px 0px 0px 21px;
	margin-bottom: 10px;
}
#qwdz{
	width: 352px ;
	height: 40px;
	background-image: url(../img/bj.jpg);
	padding: 0px 0px 0px 21px;
	margin-bottom: 10px;
}
#zzjj{
	width: 352px ;
	height: 40px;
	background-image: url(../img/bj.jpg);
	padding: 0px 0px 0px 21px;
	margin-bottom: 10px;
}
#jfdp{
	width: 352px ;
	height: 40px;
	background-image: url(../img/bj.jpg);
	padding: 0px 0px 0px 21px;
	margin-bottom: 10px;
}
#jsby{
	width: 352px ;
	height: 40px;
	background-image: url(../img/bj.jpg);
	padding: 0px 0px 0px 21px;
	margin-bottom: 10px;
}
#shjj{
	width: 352px ;
	height: 40px;
	background-image: url(../img/bj.jpg);
	padding: 0px 0px 0px 21px;
	margin-bottom: 10px;
}
#jjbb{
	width: 352px ;
	height: 40px;
	background-image: url(../img/bj.jpg);
	padding: 0px 0px 0px 21px;
}
a{
	text-decoration: none;
	color: #3a3a3a;
}
#b{
	padding-right:27px;
	color: #E15671;
}
#c{
	padding-right:27px;
	color: #E15671;
}
#d{
	padding-right:27px;
	color: #E15671;
}
#e{
	padding-right:27px;
	color: #E15671;
}
#f{
	padding-right:27px;
	color: #E15671;
}
#g{
	padding-right:27px;
	color: #E15671;
}
#h{
	padding-right:27px;
	color: #E15671;
}
#i{
	padding-right:27px;
	color: #E15671;
}
#j{
	color: #56a5e1;
}
#k{
	color: #56a5e1;
}
#l{
	color: #56a5e1;
}
#m{
	color: #56a5e1;
}
#n{
	color: #56a5e1;
}
#o{
	color: #56a5e1;
}
#p{
	color: #56a5e1;
}