h3,body{
	margin: 0;
}
a{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
img{
	vertical-align: top;
	border: ;
}
.box{
	width: 332px;
	height: 472px;
}
.head{
	margin-bottom: 11px;
}
h3{
	width: 111px;
	height: 26px;
	padding: 2px 0px 2px 10px;
	border-left: 5px solid #8bcc00;
}
h3,.pic{
	float: left;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.pic{
	margin-left: 8px;
}
.picer{
	margin-left: 2px;
}
.zi{
	float: right;
	font: 12px/30px "宋体" ;
}
.shu{
	float: right;
	width: 1px;
	height: 12px;
	background-color: #000000;
	margin: 0 7px;
	margin-top: 10px;
	
}
